<div class="roomsContainer">
    <div *ngFor="let room of roomsList" class="room">
        <img src="{{room.imageLink}}">
        <div class="room-info">
            <div class="room-name">{{room.name}}</div>
            <div class="room-rest">
                <div>{{room.price}} $</div>
                <!-- <a *ngIf="userService.isLoggedIn()" [routerLink]="['/rooms-list/' + room._id]">Reserve</a> -->
                <button *ngIf="userService.isLoggedIn()" (click)="reserve(room)">Reserve</button>
                <button (click)="removeRoom(room)" *ngIf="userService.isAdmin()">Remove</button>
            </div>
        </div>
    </div>
</div>