<div class="roomsContainer">
    <div *ngFor="let room of roomsList" class="room">
        <img src="{{room.imageLink}}">
        <div class="room-info">
            <div class="room-name">{{room.name}}</div>
            <div class="room-rest">
                <div>{{room.price}} $</div>
                <div>max available: {{room.maxAvailableNumber}}</div>
                <div *ngFor="let rating of getRoomRatingsList()">
                    <div *ngIf="rating.room == room._id">
                        <div>average rate: {{rating.rating}} ({{rating.amountOfRatings}})</div>
                    </div>
                </div>
                <button *ngIf="userService.isLoggedIn()" (click)="reserve(room)">Reserve</button>
            </div>
        </div>
    </div>
</div>