<ul>
    <li>wyświetlają się dodane pokoje, każdy z nich posiada cenę oraz ich maksymalną dostępną ilość </li>
    <li>można się zalogować/zarejstrować</li>
    <li>rejestracja tworzy konto zwykłego użytkownika</li>
    <li>admin może usuwać pokoje</li>
    <li>zalogowany użytkownik (admin, manager, klient) może rezerwować pokój w danym terminie - o ile jest wtedy taki
        wolny. Rezerwacje można wykonać jedynie na terminy w przyszłości </li>
    <li>zalogowany użytkownik może usuwać swoje rezerwacje o ile zaczynają się one za minimum 7 dni</li>
    <li>admin posiada dodatkowy route za pomocą, którego może: dodawać nowe pokoje, usuwać pokoje (z usunięciem pokoju
        usuwane są wszystkie jego rezerwacje), usuwać użytkownika (z usunięciem użytkownika usuwane są wszystkie jego
        rezerwacje), usunąć rezerwacje </li>
    <li>gdyby po dodaniu pokou/rezerwacji coś się nie wyświetlało to należy odświeżyć stronę i jest git</li>
</ul>