<button class="backBtn" (click)="router.navigate(['admin'])">Back</button>

<div class="roomsContainer">
    <div *ngFor="let room of roomsList" class="room">
        <img src="{{room.imageLink}}">
        <div class="room-info">
            <div class="room-name">{{room.name}}</div>
            <div class="room-rest">
                <div>{{room.price}} $</div>
                <div>max available: {{room.maxAvailableNumber}}</div>
                <button (click)="removeRoom(room)">Remove</button>
            </div>
        </div>
    </div>
</div>