<div *ngIf="user !== null">
    {{user.username}}
    <hr>
    <div *ngFor="let reservation of myReservations()">
        <p>reservation id: {{reservation._id}}</p>
        <p>from: {{formatDate(reservation.date)}}</p>
        <p>number of days: {{reservation.numberOfDays}}</p>
        <p>amount: {{reservation.amount}}$</p>
        ROOM:
        <div *ngFor="let room of roomsList">
            <span *ngIf="room._id == reservation.room">
                <p>{{room.name}}</p>
                <img src="{{room.imageLink}}" width="100px">
            </span>
        </div>
        <br>
        <button (click)="removeReservation(reservation, user._id)">Remove</button>
        <br>
        <br>
        <form [formGroup]="rateForm">
            <select class="form-control" formControlName="item" (change)="itemChoice()">
                <option *ngFor="let item of items" [value]="item">{{item}}</option>
            </select>
            <button (click)="addRating(reservation.room, user._id, reservation._id, item)">Add rate</button>
        </form>
        <hr>
    </div>
</div>