<div *ngIf="userService.isLoggedIn() && userService.userData !== null">
    <p>{{userService.userData.username}}</p>
    <hr>
    <div *ngFor="let userReservation of userService.userData.reservations">
        <div *ngFor="let reservation of reservationsList">
            <span *ngIf="reservation._id == userReservation.reservation">
                <p>{{reservation._id}}</p>
                <p>from: {{reservation.date}}</p>
                <p>number of days: {{reservation.numberOfDays}}</p>
                <p>amount: {{reservation.amount}}$</p>
                ROOM:
                <div *ngFor="let room of roomsList">

                    <span *ngIf="room._id == reservation.room">
                        <p>{{room.name}}</p>
                        <img src="{{room.imageLink}}" width="100px">
                    </span>
                </div>

                <hr>
            </span>

        </div>


    </div>
</div>