<button class="backBtn" (click)="router.navigate(['admin'])">Back</button>

ALL RESERVATIONS:
<hr>
<div>
    <div *ngFor="let reservation of reservationsList">
        <p>reservation id: {{reservation._id}}</p>
        <p>user id: {{reservation.user}}</p>
        <p>from: {{formatDate(reservation.date)}}</p>
        <p>number of days: {{reservation.numberOfDays}}</p>
        <p>amount: {{reservation.amount}}$</p>
        ROOM:
        <div *ngFor="let room of roomsList">
            <span *ngIf="room._id == reservation.room">
                <p>{{room.name}}</p>
                <img src="{{room.imageLink}}" width="100px">
            </span>
        </div>
        <button (click)="removeReservation(reservation, reservation.user)">Remove</button>
        <hr>
    </div>
</div>